html{

    /* margin: 5px;
    border: 1px solid red; */
}

body{

    margin: 0px;
    /* border: 1px solid green; */
}

.primary-container{

    /* margin: 5px; */
    /* border: 1px solid blue; */

    /* height: 100vh; */

    display: grid;
    grid-template-columns: minmax(300px, 1fr) 4fr; 
}

.primary-container div{

    /* padding: 5px; */
    /* border: 1px solid purple; */
}

.sidebar{

    /* height: 100vh; */
    grid-area: 1 / 1 / 4 / 2;

    display: flex;
    flex-direction: column;

    background-color: #004225;
    color: white;

    padding: 10px;
    gap: 20px;

    font-family: 'Ubuntu Mono', monospace;
}

.sidebar div{
    /* border: 1px solid brown; */
}

.sidebar .sectionA{

    display: flex;
    align-items: center;

    padding: 10px;
    gap: 10px;
}

#dashboardText{

    padding-left: 5px;
    font-size: 2.25rem;
}

#dashboardLogo{

    height: 35px;
    width: 35px;
}

.sidebarIcons{

    height: 30px;
    width: 30px;
}

.sidebar .sectionB div{

    display: flex;
    font-size: 1.2rem;

    align-items: center;

    gap: 10px;
    padding: 5px;
}

.sidebar .sectionC div{

    display: flex;
    font-size: 1.2rem;

    align-items: center;

    gap: 10px;
    padding: 5px;
}

.secondary-container{

    display: flex;
    flex-direction: column;
}

.header{

    grid-area: 1 / 2 / 2 / 5;

    display: flex;
    flex-direction: column;

    padding: 10px 20px;
    padding-bottom: 0;

    background-color: #FFCF9D;
}

.header div{
    /* border: 1px solid olivedrab; */
}

.header .sectionA{

    display: flex;

    justify-content: space-between;
    align-items: center;

    margin: 2px;
    padding: 5px;
}

.header .sectionA div{

    margin-bottom: 0;

    display: flex;
    align-items: center;

    margin: 0px 5px;
}

#searchIcon{

    height: 20px;
    width: 20px;
}

#searchBar{

    border: 0;
    border-radius: 20px;

    padding: 10px;

    height: 25px;
    width: 30vw;

    background-color: #BCA37F;
}

#notificationLogo{

    height: 20px;
    width: 20px;
}

.userLogoSmall{

    height: 40px;
    width: 40px;
}

.userPalette{

    gap: 10px;
    align-items: center;
}

.username{

    font-family: 'Wellfleet', monospace;
    font-size: 1.25rem;;
}

.header .sectionB{

    display: flex;

    justify-content: space-between;
    align-items: center;
 
    margin: 2px;
    padding: 5px;
}

.header .sectionB div{

    margin: 5px;
    display: flex;
}

.userLogoLarge{

    height: 60px;
    width: 60px;
}

.greetings{

    display: flex;
    flex-direction: column;
}

.greet{

    font-family: 'Wellfleet', monospace;
    font-size: 0.9rem;
}

.name{

    font-family: 'Wellfleet', monospace;
    font-size: 1.5rem;
}

.buttonSection div button{

    padding: 7.5px 25px;

    border: 0;
    border-radius: 20px;

    background-color: #004225;
    color: white;

    font-family: 'Ubuntu Mono', monospace;
    font-size: 1rem;
}

.mainContent{

    grid-area: 2 / 2 / 4 / 5;

    display: grid;

    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);

    background-color: #F5F5DC;
    padding: 20px;
}

.mainContent .sectionA{

    /* border: 1px solid olivedrab; */
    grid-area: 1 / 1 / 4 / 3;
}

.mainContent .sectionA .heading{

    margin: 5px;
    margin-bottom: 0;

    padding: 5px;

    /* border: 1px solid olivedrab; */
}

.heading{
    font-family: 'Martian Mono', monospace;
}

.projects{

    display: grid;

    gap: 20px;
    margin: 5px;

    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(2, 1fr);
}

.projects div{
    /* border: 1px solid orangered; */
}

.cards{

    display: flex;
    background-color: #FFCF9D;
}

.cardHighlight{

    background-color: #FFB000;
    width: 20px;

    /* margin-left: 10px; */
}

.cardContent{

    margin: 10px;
    padding: 10px;

    display: flex;
    flex-direction: column;

    gap: 10px;
}

.cardContent div{

}

.title{

    font-family: 'Bebas Neue', sans-serif;
    font-size: 1.25rem;

    padding: 5px;
    padding-bottom: 0;
}

.description{

    font-family: 'Slabo 27px', serif;
    height: 12.5vh;

    padding: 5px;
    padding-top: 0;
}

.buttons{

    display: flex;
    justify-content: end ;

    gap: 5px;
}

.mainContent .sectionB{

    border: 1px solid olivedrab;
    grid-area: 1 / 3 / 4 / 4;
}

.mainContent .sectionB div{

    margin: 5px;
    padding: 5px;

    border: 1px solid peru;
}

.announcements, .trending{
    background-color: #FFCF9D;
}

.users{
    display: flex;
}